* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-container {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.toggleinput {
  display: none;
}

.togglefill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggleinput:checked ~ .togglefill {
  background: #009578;
}

.togglefill::after {
  content: "";
  position: absolute;
  width: var(--height);
  height: var(--height);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
}

.toggleinput:checked ~ .togglefill::after {
  transform: translateX(var(--height));
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#title {
  text-align: center;
  color: seashell;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: white;
    z-index: 999;
}

.hide-preloader {
    visibility: hidden;
}